 @media only screen and (max-width:400px){
    .ptext {
            font-size: 12px;
    }

    .html, body {
        font-size: 9px;
    }

    .banner1{
        height: 400px;
        overflow: hidden;
    }
 }